<div style="text-align:center; padding: 60px;">
    <img src="https://cataas.com/cat/says/Admin%20Where%20Are%20You%20Going?"
         style="width:350px;border-radius:15px">

    <h2 class="text-white mt-3">This admin page doesn't exist</h2>

    <a href="/admin/products" class="btn btn-primary mt-4">
        Back to Dashboard
    </a>
</div>

