<section style="padding-top:130px; padding-bottom:80px;">
    <div class="error-wrapper">
<div style="
    background:#e5f6ed;
    padding:28px;
    border-radius:18px;
    max-width:520px;
    width:92%;
    margin:0 auto;
    text-align:center;
    box-shadow:0 25px 45px rgba(0,0,0,0.10);
">

    
    <img src="https://cataas.com/cat/says/Page%20Not%20Found"
     style="
  width:100%;
  border-radius:14px;
  object-fit:cover;
  max-height:420px;
"
    >

    <h2 style="margin-top:22px; font-size:32px;">Page Not Found</h2>

    <p style="color:#555; font-size:16px;">
      Looks like this page wandered off… maybe chasing a laser pointer.
    </p>

    <a href="/"
       style="
        background:#34e05c;
        padding:12px 26px;
        border-radius:9px;
        color:white;
        text-decoration:none;
        font-weight:600;
        margin-top:10px;
        display:inline-block;
       ">
      Take Me Home
    </a>

  </div>
    </div>
</section>


