<div class="error-page">
  <img src="https://i.imgur.com/V7hA9Gq.png" width="300">

  <h1>Something went wrong</h1>
  <p>We're fixing it. Please try again.</p>

  <a href="/" class="btn btn-primary">Go Home</a>
</div>
