<section class="signup-wrap">
  <div class="signup-card">

    <h2 class="signup-title">Create Account</h2>
    <p class="signup-sub">Join CraftDesk for deals and new arrivals.</p>
    {{#if signupError}}
      <p class="error-text">Email already in use. Please use a different email.</p>
    {{/if}}
    <form action="/signup" method="POST" class="signup-form">

      <div class="row-2">
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="lastName" placeholder="Last Name" required>
      </div>

      <input type="email" name="email" placeholder="Email" required>
<div class="password-wrap">
  <input 
    type="password" 
    id="password"
    name="password"
    placeholder="Password"
    required
  >
  <i class="bi bi-eye password-toggle" onclick="togglePassword('password', this)"></i>
</div>


<div class="password-wrap">
  <input 
    type="password" 
    id="confirmPassword"
    name="confirmPassword"
    placeholder="Confirm Password"
    required
  >
  <i class="bi bi-eye password-toggle" onclick="togglePassword('confirmPassword', this)"></i>
</div>

<p id="passwordError" class="error-text" style="display:none">
  Passwords do not match
</p>





      <button type="submit" class="btn-main">Sign Up</button>

      <p class="switch-text">
        Already have an account?
        <a href="/login">Log in</a>
      </p>

    </form>
  </div>
</section>
